  <footer>
    <ul class="footer__social-icons">
      <li class="footer__social-icons--twitter">
        <a href="">
          <img src="/assets/images/twitter.svg" alt="share on twitter" />
        </a>
      </li>
      <li class="footer__social-icons--facebook">
        <a href="">
          <img src="/assets/images/facebook.svg" alt="share on facebook" />
        </a>
      </li>
    </ul>
    <div class="footer__copyright">&copy; Sevensenses</div>
  </footer>
