@charset "utf-8";

body > footer {
  background-color: $black;
  padding: spsize(40) 0 spsize(80);
  @include pc {
    padding: 40px 0 80px;
  }

  .footer__social-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin: 0 spsize(16);
      @include pc {
        margin: 0 16px;
      }
    }

    &--twitter {
      a {
        img {
          width: spsize(56);
          height: spsize(56);
          @include pc {
            width: 64px;
            height: 64px;
          }
        }
      }
    }

    &--facebook {
      a {
        img {
          width: spsize(56);
          height: spsize(56);
          @include pc {
            width: 64px;
            height: 64px;
          }
        }
      }
    }
  }

  .footer__copyright {
    margin-top: spsize(40);
    font-size: spsize(16);
    text-align: center;
    color: $white;
    @include pc {
      margin-top: 40px;
      font-size: 24px;
    }
  }
}
